<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>E-Commerce</title>
  <link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/6b7O3ymf4q6cql5n5l6cajlZ1/W7LZs4AAKPsw"
  crossorigin="anonymous"
/>
</head>
<body>
  {{{body}}}

  <script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ENjdO4Dr2bkBIFxQpeoHhzWqbsQbh6rZId3AepYMyLgSNm1nEmy5kzV4pHVkc4l0"
  crossorigin="anonymous"
></script>
</body>
</html>
