*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    position: absolute;
    display: flex;
    background-color: #3d5b99;
    height: 85px;
    width: 100%;
    font-family: Arial, sans-serif;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

#logo{
    position: absolute;
    left: 150px;
    top: 30px;
    color: white;
    font-size: xxx-large;
    font-weight: bold;
    text-decoration: none;
}

#mail{
    position: absolute;
    right: 35%;
    top: 15px;
    line-height: 140%;
    color: white;
}

#pass{
    position: absolute;
    right: 24.5%;
    top: 14px;
    line-height: 140%;
    color: white;
}

#fp{
    color: white;
    text-decoration: none;
    opacity: 0.5;
    position: absolute;
    top: 48px;
}

#login{
    position: absolute;
    right: 21%;
    top: 37px;
    background-color: #5b7bc0;
    height:22px;
	width:50px;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .25);
}