*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    background-color: #3d5b99;
    height: 85px;
    width: 100%;
    font-family: Arial, sans-serif;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

#logo{
    /* position: absolute; */
    margin-left: 150px;
    margin-top: 30px;
    color: white;
    font-size: xxx-large;
    font-weight: bold;
    text-decoration: none;
}

#mail{
    margin-left: 35%;
    margin-top: 15px;
    color: white;
}

#pass{
    margin-top: 14px;
    color: white;
}

#fp{
    color: white;
    text-decoration: none;
    opacity: 0.5;
    position: fixed;
    margin-top: 11px;
}

#loginbutton{
    background-color: #4267B2;
    margin-top: 29px;
    margin-left: 10px;
    border: 2px solid #29487d;
    color: white;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}