*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #EDEFF5;
}

.header{
    display: flex;
    background-color: #3d5b99;
    height: 85px;
    width: 100%;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    text-decoration: none;
}

#logo{
    margin-left: 150px;
    margin-top: 30px;
    color: white;
    font-size: xxx-large;
    font-weight: bold;
    text-decoration: none;
}

#mail{
    margin-left: 35%;
    margin-top: 15px;
    color: white;
}

#pass{
    margin-top: 14px;
    color: white;
}

#fp{
    color: white;
    text-decoration: none;
    opacity: 0.5;
    position: fixed;
    margin-top: 11px;
}

#login_button{
    margin-top: 29px;
    margin-left: 10px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    width:50px;
    height:25px;
    background-color: #5b72a9;
    border: 1px solid #999;
    border-color:#8b9dc3 #2f477a #29447e #1a356e;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

#login_button:hover{
    background-color: #4f6aa3;
}

.left{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 180px;
    font-size: x-large;
}

#connect{
    margin-top: 30px;
}

#connect_img{
   
}

.body{
    display: flex;
    margin-top: 30px;
    margin-left: 180px;
}
